/* your styles go here */
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.center-button {
    text-align: center;
}

#cart {
    float: right;
}

@media (max-width: 765px) {
    #cart {
        margin: 5px 0px;
        float: left;
    }
    #search {
        margin: 5px 0px;
        float: left;
    }
}